
<div class="relative overflow-x-auto">
    <table class="table-fixed recipes-for-building-table text-gray-700">
        <thead class="bg-item-list">
            <tr>
                <td>大分類</td>
                <td>小分類</td>
                <td>作成物</td>
                <td>消費個数</td>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                {% set building = recipe.products[0].as_building() %}
                {% set ingredient = recipe.find_ingredient(selected_item.id) %}
                <tr>
                    <td>{{ building.category }}</td>
                    <td>{{ building.subcategory }}</td>
                    <td>
                        {% include 'links/building_link_with_image.html' %}
                    </td>
                    <td>{{ ingredient.amount_str }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
