
<div class="relative overflow-x-auto">
    <table class="table-fixed conditions-table text-gray-700">
        <thead class="bg-item-list">
            <tr>
                <td>カテゴリ</td>
                <td>名称</td>
                <td>個数</td>
            </tr>
        </thead>
        <tbody>
            {% for research in researches %}
                {% set item = research.find_item(selected_item.id) %}
                <tr>
                    <td>{{ research.category }}</td>
                    <td>
                        <a href="{{ research.jpwiki_link(True) }}">
                            {{ research.name }}
                        </a>
                    </td>
                    <td class="text-right">{{ item.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
