{% extends "base.html" %}

{% block head %}
<title>素材詳細</title>
{% endblock %}

{% block content %}
<div class="bg-white grid grid-cols-1 md:grid-cols-[2fr_1fr] max-w-6xl gap-x-4 gap-y-2 mx-auto p-6 rounded-lg shadow-md">
    <div class="col-span-full">
        <h1 class="text-4xl font-bold text-gray-800">素材詳細</h1>
    </div>

    <div class="mt-6 col-span-full">
        <form method="get" action="/item">
            <select id="item-select"
                    name="item_id"
                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="">-- 素材を選択 --</option>
                {% for cat, items in items_by_category %}
                    <optgroup label="{{ cat }}">
                        {% for item in items %}
                            <option value="{{ item.id }}" {% if selected_item and selected_item.id == item.id %}selected{% endif %}>{{ item.name }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
            <button type="submit"
                    class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg">
                アイテムを選択
            </button>
        </form>
    </div>

    {% if selected_item %}
        <div class="mt-6 col-span-full">
            <h1 class="text-4xl font-bold text-gray-800">{{ selected_item.name }}</h1>
        </div>

        <div class="mt-6 col-span-full">
            <h2 class="text-2xl font-semibold">作成レシピ</h2>
        </div>

        {% if recipe_producing_table_datas %}
            <div class-"recipes-producing-table">
                {% for table_data in recipe_producing_table_datas %}
                    <table class="recipe-table table-fixed">
                        {{ table_data.to_html() | safe }}
                    </table>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-gray-500">No recipes produce this item.</p>
        {% endif %}

        <textarea class="w-full h-full border border-gray-500 focus:border-blue-500"
                    wrap="off"
                    placeholder="placeholder"
                    readonly="1">
{%- for table_data in recipe_producing_table_datas %}
{{ table_data.to_jpwiki() -}}
{% endfor %}
</textarea>

        <div class="mt-8 col-span-full">
            <h2 class="text-2xl font-semibold">利用先 部品・装備品</h2>
        </div>

        {% if recipes_for_item_table_data.rows %}
            <table class="table-fixed recipes-for-item-table">
                {{ recipes_for_item_table_data.to_html() | safe }}
            </table>

            <textarea class="w-full h-full border border-gray-500 focus:border-blue-500"
                        wrap="off"
                        placeholder="placeholder"
                        readonly="1">{{ recipes_for_item_table_data.to_jpwiki() }}
</textarea>
        {% else %}
            <p class="col-span-2 text-gray-500">No recipes use this item.</p>
        {% endif %}

        <div class="mt-8 col-span-full">
            <h2 class="text-2xl font-semibold">利用先 設備・車両</h2>
        </div>

        {% if recipes_for_building_table_data.rows %}
            <table class="table-fixed recipes-for-building-table">
                {{ recipes_for_building_table_data.to_html() | safe }}
            </table>

            <textarea class="w-full h-full border border-gray-500 focus:border-blue-500"
                        wrap="off"
                        placeholder="placeholder"
                        readonly="1">{{ recipes_for_building_table_data.to_jpwiki() }}
</textarea>
        {% else %}
            <p class="col-span-2 text-gray-500">No recipes use this item.</p>
        {% endif %}

        <div class="mt-8 col-span-full">
            <h2 class="text-2xl font-semibold">マイルストーン</h2>
        </div>

        {% if milestones_table_data.rows %}
            <table class="table-fixed conditions-table">
                {{ milestones_table_data.to_html() | safe }}
            </table>

            <textarea class="w-full h-full border border-gray-500 focus:border-blue-500"
                        wrap="off"
                        placeholder="placeholder"
                        readonly="1">{{ milestones_table_data.to_jpwiki() }}
</textarea>
        {% else %}
            <p class="col-span-2 text-gray-500">No milestones use this item.</p>
        {% endif %}

        <div class="mt-8 col-span-full">
            <h2 class="text-2xl font-semibold">分子分析機</h2>
        </div>

        {% if researches_table_data.rows %}
            <table class="table-fixed conditions-table">
                {{ researches_table_data.to_html() | safe }}
            </table>

            <textarea class="w-full h-full border border-gray-500 focus:border-blue-500"
                        wrap="off"
                        placeholder="placeholder"
                        readonly="1">{{ researches_table_data.to_jpwiki() }}
</textarea>
        {% else %}
            <p class="col-span-2 text-gray-500">No researches use this item.</p>
        {% endif %}
    {% endif %}

    <div class="mt-8 col-span-full">
        <a class="text-blue-500 hover:underline" href="/">Back to Items List</a>
    </div>
</div>
{% endblock %}
